- if order.decision.present?
  .grid__cell
    .card{ class: card_classes(:forter, local_assigns[:active]) }
      = link_to forter_order_path(order), class: 'card__header' do
        %span.card__header-text= t('workarea.admin.orders.cards.forter.title')
        = inline_svg 'workarea/admin/icons/link.svg', class: 'card__icon'

      - if local_assigns[:active].blank?
        .card__body
          %ul.list-reset
            %li
              %strong= t('workarea.admin.orders.cards.forter.decision')
              = order.decision.response&.action

            - if order.decision.response&.reason_code.present?
              %li
                %strong= t('workarea.admin.orders.cards.forter.reason_code')
                = order.decision.response.reason_code
